.accessories
  padding-bottom: 30px
  background: url('../img/bg.png') 0 0 no-repeat, url('../img/bg3.png') 0 116% no-repeat

  @media (max-width: 767px)
    background: url('../img/bg.png') 98% 30% no-repeat

  .form-feedback
    margin-top: 65px

    @media (max-width: 767px)
      margin-top: 50px

.accessories-block
  padding-top: 30px
  padding-bottom: 30px

  @media (max-width: 767px)
    padding-top: 21px
    padding-bottom: 21px

  &:last-child
    padding-bottom: 58px

  h3
    font-size: 36px
    color: #0C0C0C
    font-family: $fonts.headings
    font-weight: 700
    line-height: 1.2
    margin-top: 0
    margin-bottom: 40px

    @media (min-width: 1280px)
      padding-left: 20px

    @media (max-width: 767px)
      font-size: 28px
      margin-bottom: 26px

  &__inner
    max-width: 1245px
    overflow: hidden

  &__container:not(.swiper-initialized)
    display: flex
    flex-wrap: nowrap
    overflow: hidden

    & ^[0]
      &__item
        margin-right: 30px
        flex: 0 0 33.333%

  &__container
    @media (min-width: 1280px)
      padding-right: 20px
      padding-left: 20px

    @media (max-width: 1279px)
      overflow: visible

    .swiper-button-disabled
      pointer-events: none !important

    .swiper-button-prev, .swiper-button-next
      width: 37px
      height: 37px
      border-radius: 50%
      background-color: #BDBDBD
      transition: background-color 0.3s, border-color 0.3s
      pointer-events: all
      display: flex !important

      @media (max-width: 767px)
        border: 1px solid #4B4A4A

      &:hover
        @media (min-width: 1025px)
          background-color: #3AA531
          border-color: #3AA531

      &:after
        content: ''
        width: 9px
        height: 15px
        background-image: url("data:image/svg+xml,%3Csvg width='9' height='15' viewBox='0 0 9 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.46484 13.5703L7.53516 7.5L1.46484 1.42969' stroke='white' stroke-width='1.15625' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A")
        background-repeat: no-repeat
        background-position: 0 0
        background-size: contain

    .swiper-button-prev
      left: -15px

      @media (min-width: 1280px)
        left: 0

      @media (max-width: 767px)
        left: -8px

      &:after
        transform: rotate(180deg)

    .swiper-button-next
      right: -15px

      @media (min-width: 1280px)
        right: 0

      @media (max-width: 767px)
        right: -8px

.accessory-thumb
  display: block

  &__body
    display: flex
    flex-direction: column
    position: relative
    overflow: hidden
    border-radius: 10px

    &:after
      content: ''
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 33.31%, #000000 111.39%)
      z-index: 2

  &__img
    overflow: hidden
    position: relative
    z-index: 1

    &:before
      content: ''
      display: block
      padding-top: 103.7%

    img
      vertical-align: top
      width: 100%
      height: 100%
      object-fit: cover
      position: absolute
      top: 0
      left: 0

  &__content
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    display: flex
    flex-direction: column
    align-items: center
    text-align: center
    z-index: 3
    padding: 52px 20px

    @media (max-width: 767px)
      padding-top: 47px
      padding-bottom: 47px

  &__name
    font-size: 28px
    color: #F5F5F5
    font-weight: 400
    line-height: 1
    margin-bottom: 17px

    @media (max-width: 767px)
      font-size: 25px
      margin-bottom: 15px

  &__price
    font-size: 18px
    color: #F5F5F5
    font-weight: 400
    line-height: 1

    @media (max-width: 767px)
      font-size: 16px
