.in-social
  color: #F5F5F5
  padding-top: 66px
  padding-bottom: 66px
  background-color: #0C0C0C

  @media (max-width: 767px)
    padding-top: 48px
    padding-bottom: 46px

  &__container
    display: flex
    align-items: center

  &__content
    max-width: 485px

    h2
      font-size: 40px
      color: #F5F5F5
      font-family: $fonts.headings
      font-weight: 700
      line-height: 1.2
      margin-top: 0
      margin-bottom: 18px

      @media (max-width: 767px)
        font-size: 30px
        margin-bottom: 27px

  &__desc
    font-size: 18px
    color: #BDBDBD
    font-weight: 400
    line-height: 1.4
    margin-bottom: 35px

    @media (max-width: 959px)
      margin-bottom: 26px

  &__img
    flex: 0 0 486px
    width: 486px
    max-width: 486px
    margin-left: 115px

    @media (max-width: 1279px)
      margin-left: 50px

    @media (max-width: 959px)
      flex: 0 0 376px
      width: 376px
      max-width: 376px

    @media (max-width: 767px)
      display: none

  &__links
    display: flex
    flex-wrap: wrap

  &__link
    margin-right: 14px
    margin-bottom: 14px