html, body
  margin: 0
  padding: 0

html, body
  min-height: 100vh

.app
  display: grid
  grid-template-rows: auto 1fr auto

.contain
  max-width: 1170px + 20px + 20px
  width: 100%
  padding-right: 20px
  padding-left: 20px
  margin: 0 auto

.button-default
  font-size: 18px
  color: #FFF
  font-family: $fonts.headings
  font-weight: 700
  line-height: 1
  text-decoration: none
  background-color: #3AA531
  border: 1px solid #3AA531
  border-radius: 40px
  display: inline-flex
  align-items: center
  justify-content: center
  padding: 18px 24px
  transition: color 0.3s, border-color 0.3s, background-color 0.3s

  &:hover
    color: #3AA531
    border-color: #3AA531
    background-color: transparent
