<div block="top-panel" {% if page.title == "Как сделать заказ" or page.title == "Акции" or page.title == "Схема работы" or page.title == "Услуги" or page.title == "Часто задаваемые вопросы" or page.title == "Отзывы" %}mods="fill-navigation"{% endif %} >
  <div elem="section">
    <div elem="site-info">
      <div elem="inner" class="contain">
        <div block="social-links">
          <div elem="items">
            <a elem="item" href="#">
              <i>
                <img src="img/social-links-icon.svg" alt="">
              </i>
            </a>
            <a elem="item" href="#">
              <i>
                <img src="img/social-links-icon2.svg" alt="">
              </i>
            </a>
            <a elem="item" href="#">
              <i>
                <img src="img/social-links-icon3.svg" alt="">
              </i>
            </a>
            <a elem="item" href="#">
              <i>
                <img src="img/social-links-icon4.svg" alt="">
              </i>
            </a>
          </div>
        </div><!-- social-links -->
        <div elem="schedule">
          <span>с 10:00 до 20:00</span>
        </div>
        <a elem="email" href="mailto:info@baza.ru">
          <span>info@baza.ru</span>
        </a>
        <a elem="phone" href="tel:88005555555">
          <span>8 800 555 5555</span>
        </a>
        <a elem="call" href="#">
          <span>Заказать звонок</span>
        </a>
      </div>
    </div>
    <div elem="navigation">
      <div elem="inner" class="contain">
        <button elem="button-burger" class="js-button-burger" type="button">
          <span></span>
        </button>
        {% include "logo.html" %}
        {% include "main-menu.html" %}
        {% include "search.html" %}
      </div>
    </div>
  </div>
</div><!-- top-panel -->