---
# JS-YAML demo
# https://nodeca.github.io/js-yaml/
page:
	title: Одноэтажная каркасная баня 6 на 8 с террасой «КЕДР – 8»
	layout:
		header: true
		footer: true
		left: false
		right: false
path: [
	{"title": Главная},
]    
body:
	classes:
---

{% extends 'app.html' %}

{% block main %}

  {#
  <div block="inner-top">
    <div elem="section">
      <div elem="inner" class="contain">
        {% include "bread-crumbs.html" %}
        <h1>Акции</h1>
      </div>
    </div>
  </div><!-- inner-top -->
  #}

	{% include "card-project.html" %}

{% endblock %}
