---
# JS-YAML demo
# https://nodeca.github.io/js-yaml/
page:
	title: Одноэтажная каркасная баня 6 на 8 с террасой «КЕДР – 8»
	layout:
		header: true
		footer: true
		left: false
		right: false
path: [
	{"title": Главная},
]    
body:
	classes:
---

{% extends 'app.html' %}

{% block main %}

  {#
  <div block="inner-top">
    <div elem="section">
      <div elem="inner" class="contain">
        {% include "bread-crumbs.html" %}
        <h1>Акции</h1>
      </div>
    </div>
  </div><!-- inner-top -->
  #}

	{% include "card-project.html" %}

	{% include "other-projects.html" %}

  <div block="form-feedback" mods="light-bg">
    <div elem="section">
      <div elem="inner">
        <form elem="form">
          <div elem="container">
            <div elem="inner">
              <div elem="head">
                <h2>Остались вопросы <br>
                  или хотите обсудить детали?</h2>
              </div>
              <div elem="wrapper">
                <div elem="fields">
                  <div class="input-field">
                    <input type="text" placeholder="Имя">
                  </div>
                  <div class="input-field">
                    <input type="tel" class="phone-mask" placeholder="+7 (___) - ___-__-__">
                  </div>
                </div>
                <div elem="buttons">
                  <button elem="button-send" class="button-default button-default--fill" type="submit">
                    <span>Отправить на БАZУ</span>
                  </button>
                  <div class="privacy-policy">
                    <span>Согласен с <a href="#">политикой конфиденциальности</a></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div><!-- form-feedback -->

  <div block="pop-up" class="hystmodal" id="change_project" aria-hidden="true">
    <div elem="section" class="hystmodal__wrap">
      <div elem="inner" class="hystmodal__window" role="dialog" aria-modal="true">
        <button data-hystclose class="hystmodal__close"></button>
        <div elem="container">
          <h3>Внести изменения в проект</h3>
          <div block="form-feedback" mods="dark">
            <div elem="section">
              <div elem="inner">
                <form elem="form">
                  <div elem="container">
                    <div elem="inner">
                      <div elem="wrapper">
                        <div elem="options">
                          <div elem="option">
                            <label block="label-control">
                              <input type="checkbox" checked>
                              <span elem="checkbox">
                                <i></i>
                                <span>Увеличить площадь</span>
                              </span>
                            </label>
                          </div>
                          <div elem="option">
                            <label block="label-control">
                              <input type="checkbox" checked>
                              <span elem="checkbox">
                                <i></i>
                                <span>Увеличить или изменить окна</span>
                              </span>
                            </label>
                          </div>
                          <div elem="option">
                            <label block="label-control">
                              <input type="checkbox" checked>
                              <span elem="checkbox">
                                <i></i>
                                <span>Сделать перепланировку</span>
                              </span>
                            </label>
                          </div>
                          <div elem="option">
                            <label block="label-control">
                              <input type="checkbox" checked>
                              <span elem="checkbox">
                                <i></i>
                                <span>Изменить материал отделки</span>
                              </span>
                            </label>
                          </div>
                          <div elem="option">
                            <label block="label-control">
                              <input type="checkbox" checked>
                              <span elem="checkbox">
                                <i></i>
                                <span>Изменить толщину крыши</span>
                              </span>
                            </label>
                          </div>
                          <div elem="option">
                            <label block="label-control">
                              <input type="checkbox">
                              <span elem="checkbox">
                                <i></i>
                                <span>Добавить/убрать веранду, крыльцо и др.</span>
                              </span>
                            </label>
                          </div>
                          <div elem="option">
                            <label block="label-control">
                              <input type="checkbox">
                              <span elem="checkbox">
                                <i></i>
                                <span>Изменить высоту потолков</span>
                              </span>
                            </label>
                          </div>
                        </div>
                        <div elem="fields">
                          <div class="input-field">
                            <input type="text" placeholder="Имя">
                          </div>
                          <div class="input-field">
                            <input type="tel" class="phone-mask" placeholder="+7 (___) - ___-__-__">
                          </div>
                        </div>
                        <div elem="buttons">
                          <button elem="button-send" class="button-default" type="submit">
                            <span>Отправить на БАZУ</span>
                          </button>
                          <div class="privacy-policy">
                            <span>Согласен с <a href="#">политикой конфиденциальности</a></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div><!-- form-feedback -->
        </div>
        <!-- 
          для отображения сообщения об успешной отправке формы добавляется
            класс "_is-success" к родительскому классу "pop-up"
        -->
        <div elem="success">
          <i elem="success-icon">
            <svg width="62" height="62" viewBox="0 0 62 62" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="31" cy="31" r="31" fill="#3AA531" />
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M29.0966 38.0263L21.9632 30.6603C21.5141 30.1966 20.7859 30.1966 20.3368 30.6603C19.8877 31.1241 19.8877 31.876 20.3368 32.3397L28.3868 40.6522C28.8743 41.1556 29.6783 41.106 30.1042 40.5461L42.7542 23.9212C43.1466 23.4055 43.0599 22.659 42.5604 22.2538C42.061 21.8486 41.3381 21.9382 40.9457 22.4539L29.0966 38.0263Z"
                fill="white" stroke="white" />
            </svg>
          </i>
          <h3>Ваша заявка отправлена!</h3>
          <p>Ожидайте звонок менеджера</p>
        </div>
      </div>
    </div>
  </div><!-- pop-up -->

{% endblock %}
