---
# JS-YAML demo
# https://nodeca.github.io/js-yaml/
page:
	title: БАЗА БАНЬ
	layout:
		header: true
		footer: true
		left: false
		right: false
	# Массив хлебных крошек, от главной до текущей страницы
	# Необходимо прописывать только имена файлов (шаблонов) страниц
	# Названия и ссылки проставятся автоматически
	crumbs: !!seq
	- home
body:
	classes: home
---

{% extends 'app.html' %}

{% block main %}

	{% include "hero.html" %}

	{% include "share-block.html" %}

	<div class="main-bg">
		{% include "catalog.html" %}
		{% include "projects-block.html" %}
	</div>

	{% include "form-feedback.html" %}

	{% include "reports-info.html" %}
	
	{% include "about-us.html" %}

{% endblock %}
