---
# JS-YAML demo
# https://nodeca.github.io/js-yaml/
page:
	title: Акции
	layout:
		header: true
		footer: true
		left: false
		right: false
path: [
	{"title": Главная},
	{"title": Клиентам},
]    
body:
	classes:
---

{% extends 'app.html' %}

{% block main %}

  <div block="inner-top">
    <div elem="section">
      <div elem="inner" class="contain">
        {% include "bread-crumbs.html" %}
        <h1>Акции</h1>
      </div>
    </div>
  </div><!-- inner-top -->

  <div class="main-bg main-bg--type2">
    <div block="share-block">
      <div elem="section">
        <div elem="inner" class="contain">
          <div elem="items">
            <div elem="item">
              <div block="share-thumb">
                <div elem="body">
                  <div elem="content">
                    <h2>Кэшбэк 5% </h2>
                    <p>
                      Максимальный кэшбэк в строительной
                      отрасли от покупки
                    </p>
                  </div>
                  <div elem="img">
                    <img src="img/share-thumb-img.jpg" alt="">
                    <div elem="note">При заказе бани из серии «Классик»</div>
                  </div>
                </div>
              </div><!-- share-thumb -->
            </div>
            <div elem="item">
              <div block="share-thumb">
                <div elem="body">
                  <div elem="content">
                    <h2>Банный набор</h2>
                    <p>
                      Подарок для вашей бани
                    </p>
                  </div>
                  <div elem="img">
                    <img src="img/share-thumb-img2.jpg" alt="">
                    <div elem="note">При покупке бани до 31.12.23</div>
                  </div>
                </div>
              </div>
            </div>
            <div elem="item">
              <div block="share-thumb">
                <div elem="body">
                  <div elem="content">
                    <h2>Банный набор</h2>
                    <p>
                      Подарок для вашей бани
                    </p>
                  </div>
                  <div elem="img">
                    <img src="img/share-thumb-img2.jpg" alt="">
                    <div elem="note">При покупке бани до 31.12.23</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- share-block -->
  </div>



{% endblock %}
